<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="false"/>
		<setting validateSqlMap="false" />
	</settings>
	<providers embedded="providers.config, KingSite.Purview"/>
	<database>
        <provider name="sqlServer2.0"/>
        <dataSource name="SqlServer"
          connectionString="data source=(local);database=KingSite.Shop;user id=sa;password=sa;"/>
    </database>

    <sqlMaps>
        <sqlMap embedded="Repository.Maps.SqlServer.Sys_Application.xml, KingSite.Purview"/>
        <sqlMap embedded="Repository.Maps.SqlServer.Sys_User.xml, KingSite.Purview"/>
        <sqlMap embedded="Repository.Maps.SqlServer.Sys_Role.xml, KingSite.Purview"/>
        <sqlMap embedded="Repository.Maps.SqlServer.Sys_UserInRole.xml, KingSite.Purview"/>
        
    </sqlMaps>

</sqlMapConfig>
