<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="false"/>
		<setting validateSqlMap="false" />
	</settings>
	<providers embedded="providers.config, KingSite.Purview"/>
	<database>
        <provider name="oracle10.1"/>
        <dataSource name="oracle10g" connectionString="data source=//192.168.12.43/maindb;persist security info=True;user id=plan;password=develop"/>
    </database>

    <sqlMaps>
        <sqlMap embedded="Repository.Maps.Oracle.Sys_Application.xml, KingSite.Purview"/>
        <sqlMap embedded="Repository.Maps.Oracle.Sys_User.xml, KingSite.Purview"/>
        <sqlMap embedded="Repository.Maps.Oracle.Sys_Role.xml, KingSite.Purview"/>
        <sqlMap embedded="Repository.Maps.Oracle.Sys_UserInRole.xml, KingSite.Purview"/>
        
    </sqlMaps>

</sqlMapConfig>
